@"
# Virtual environments
venv/
*/venv*/
**/venv*/
backend/venv311/
venv311/

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
debug.log

# Large ML binaries
*.dll
*.pyd
*.lib
*.so
*.ckpt
*.tflite
*.onnx



# Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/
.DS_Store
"@ > .gitignore

